{% extends 'base.html' %}

{% block content %}
<h2>Reservation history</h2>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Date and time</th>
        <th>Movie</th>
        <th>Auditorium</th>
        <th>Seats</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
        {% for r in reservations %}
        <tr>
            <td>{{ r.screening.start_screening }}</td>
            <td>{{ r.screening.movie.title }}</td>
            <td>{{ r.screening.auditorium.name }}</td>
            <td>{{ r.list_of_seats|join:", " }}</td>
            <td>{{ r.get_status_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}